# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  pathtosolution: 'training-code/Project1Copy/PizzaBoxSolution'
  pathtoproject: 'training-code/Project1Copy/PizzaBoxSolution/PizzaBoxClient'
  pathtotest: 'Project1Copy/PizzaBoxSolution/PizzaBoxTest'

steps:
- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'
  workingDirectory: $(pathtosolution)

#- task: DotNetCoreCLI@2
#  inputs:
#     command: 'publish'
#     projects: '$(pathtoproject)/*.csproj'
