# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  pathtosolution: 'Project1Copy/PizzaBoxSolution'
  pathtoproject: 'Project1Copy/PizzaBoxSolution/PizzaBoxClient'
  pathtotest: 'Project1Copy/PizzaBoxSolution/PizzaBoxTest'

steps:
# SONAR PREPARE ANALYSIS CONFIG
- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'testforpizzaproject'
    organization: 'danielcoombs005-github'
    scannerMode: 'MSBuild'
    projectKey: '753748609887ddbfcbb5d85f8689dced399a1c5d'
  displayName: 'Sonar Prepare Analysis'

#- task: SonarCloudPrepare@1
#  inputs:
#    SonarCloud: 'ContactAppSonarCloud'
#    organization: '1905-may06-dotnet'
#    scannerMode: 'MSBuild'
#    projectKey: 'ContactAppUta'
#    projectName: 'ContactAppUta'
#    # extraProperties: 
#    #   sonar.cs.opencover.reportsPaths="$(Build.ArtifactStagingDirectory)/coverage/*"
#    #   sonar.cs.vstest.reportsPaths="$(Build.ArtifactStagingDirectory)/test/*.trx"
#  displayName: 'Sonar Prepare Analysis'



# BUILD:
- script: dotnet build --configuration $(buildConfiguration)
  workingDirectory: $(pathtosolution)
  displayName: 'dotnet build $(buildConfiguration)'

# BASIC TEST
- script: dotnet test
   --configuration $(buildConfiguration)
   --logger trx
   --no-build
   --results-directory $(Build.ArtifactStagingDirectory)/test/
    /p:CollectCoverage=true
    /p:CoverletOutputFormat=opencover
    /p:CoverletOutput='$(Build.ArtifactStagingDirectory)/coverage/'
  workingDirectory: $(pathtosolution)
  displayName: 'dotnet Test'

- task: SonarCloudAnalyze@1

- task: SonarCloudPublish@1
  inputs:
    pollingTimeoutSec: '300'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '*.trx'
    searchFolder: '$(Build.ArtifactStagingDirectory)/test'
  displayName: 'Publish test results '

#- script: dotnet build --configuration $(buildConfiguration)
#  displayName: 'dotnet build $(buildConfiguration)'
#  workingDirectory: $(pathtosolution)

#- task: DotNetCoreCLI@2
#  inputs:
#     command: 'publish'
#     projects: '$(pathtoproject)/*.csproj'
